<h2 style="text-align: center">World News</h2>
<table class="table">
  <thead class="row">
    <th class="col-sm-8">Title</th>
    <th class="col-sm-4">Name</th>
  </thead>
  <tbody *ngFor="let article of articles">
    <tr class="row">
      <td class="col-sm-8">
        <a
          [href]="article.url"
          class="list-group-item list-group-item-action"
          target="_blank"
        >
          {{ article.title | trimOutletName: article.source.name }}
        </a>
      </td>
      <td class="col-sm-4">
        <a
          [href]="article.url"
          class="list-group-item list-group-item-action"
          target="_blank"
        >
          {{ article.source.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
<app-paginator (changePage)="this.change($event)"></app-paginator>
