:host{
  display: block;
  position: fixed;
  margin-bottom: 600px;
 margin-right: 500px;
  bottom: 0;
  right: 10px;
  width:300px;
  z-index: 20;
}
.close{
  font-size: small;
  float:right;
  border-color: brown;
  border-radius: 10px;
  color: brown;
  margin-bottom: 3px;
}
